name: Code Formatter

on:
  pull_request:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '23'
          distribution: 'temurin'
          cache: 'maven'
      - name: Run Spotless
        run: mvn spotless:check --batch-mode --no-transfer-progress
